<div
    class="card flex flex-col rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700 md:max-w-xl md:flex-row mt-8">
    {% if post.thumbnail %}
        <img
                class="h-96 w-full rounded-t-lg object-cover md:h-auto md:w-48 md:rounded-none md:rounded-l-lg"
                src="{{ vich_uploader_asset(post.thumbnail) }}"
                alt="{{post.thumbnail.imageName }}"
        />
    {% else %}
        <img
                class="h-96 w-full rounded-t-lg object-cover md:h-auto md:w-48 md:rounded-none md:rounded-l-lg"
                src="https://tecdn.b-cdn.net/wp-content/uploads/2020/06/vertical.jpg"
                alt="" />
    {% endif %}

    <div class="flex flex-col justify-start p-6">
        <h5
                class="mb-2 text-xl font-medium text-neutral-800 dark:text-neutral-50">
            {{ post.title }}
        </h5>
        <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
            {{ post.content|u.truncate(180,'...') }}
        </p>
        <button
                type="button"
                class=" self-start inline-block rounded bg-primary px-6 pb-2 pt-2.5 text-xs font-medium  leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]">
            Lire plus
        </button>
        <p class="mt-8 text-xs text-neutral-500 dark:text-neutral-300">
            Last updated 3 mins ago
        </p>
    </div>
</div>